.search__heading{
    background-color: black;
    width: 100%;
    
}

#Headingitem{
    color: white !important;
    font-weight: 800;
    font-size: 20px;
    border-right: 1px solid rgb(255, 255, 255) !important;
    text-align: center;
}

#bodyItem{
    border-right: 1px solid rgb(0, 0, 0) !important;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* .actionContainer{
    display: flex;
    justify-content: center;
    background-color: turquoise;
}
 */
